/*Global styles*/
body {
    margin: 0;
}
h1, h2, h3, h4, h5, p, span {
    color: #2F333A;
}
h1 {
    font-size: 36px;
    line-height: 36px;
}
h2 {
    font-size: 30px;
    line-height: 34px;
}
h3 {
    font-size: 22px;
    line-height: 31px;
}
h4 {
    font-size: 18px;
    line-height: 26px;
}
h5 {
    font-size: 14px;
    line-height: 20px;
}
p {
    font-size: 13px;
    line-height: 22px;

}
img {
    max-width: 100%;
}

a {
    font-size: 13px;
    line-height: 22px;
    color: #E31837;
}
a:hover {
    text-decoration: none;
}
nav a {
    color: #2F333A;
    font-size: 12px;
    text-decoration: none;
}
nav a:hover {
    color: #E31837;
}
input {
    border: 1px solid #d5d5d5;
    border-radius: 4px;
}
input::placeholder {
    font-size: 13px;
    color: #67696d;
}

/*grid*/
header, main, footer, .hero-banner, .new-section, .top-selling, .hero-banner-2, .instagram {
    width: 100%;
}

.new-copy {
    width: 45%;
    display: inline-block;
}

.product-tile, .insta-tile {
    width: 23%;
    display: inline-block;
    vertical-align: top;
}

/*controls*/
button {
    padding: 10px 39px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #E31837;
}
button:hover {
    background-color: #940B1C;
    cursor: pointer;
}
button.secondary {
    color: #E31837;
    background-color: #fff;
}
button.secondary:hover {
    color: #fff;
    background-color: #E31837;
}
/*fonts*/

/*header*/
.upper-header {
    background: #67696D;
    padding: 0 40px;
}

.upper-header .promo {
    border-right: 1px solid #2F333A;
    display: inline-block;
    padding: 3px 40px 3px 0;
}
 .upper-header .promo:not(:first-child) {
    padding-left: 40px;
}
 .upper-header .promo span{
    color: #fff;
}
 .upper-header .promo .bold{
    font-weight: bold;
}
 .upper-header .control {
    display: inline-block;
    float: right;
}
 .upper-header .control a {
    font-size: 11px;
    color: #fff;
    text-decoration: none;
}
 .upper-header .control #account::before {
    background-image: url('images/account.png');
    background-size: 14px 14px;
    display: inline-block;
    content: "";
}
.upper-header .control #store-finder::before {
    background-image: url('images/map.png');
    background-size: 9px 12px;
    display: inline-block;
    content: "";
    padding-right: 6px;
}
.mid-header {
    padding: 34px 40px 20px 40px;
}
 .mid-header .logo {
    width: 252px;
    margin: 0 auto;
}
 .mid-header .logo img {
    width: 252px;
    height: 75px;
}
nav {
    padding-bottom: 20px;
    clear: both;
}
nav ul {
    display: block;
    width: 100%;
    margin: 0 auto;
}
nav ul li {
    display: inline-block;
    margin-right:76px;
}
nav ul li:last-of-type {
    margin-right: 0;
}
.big-promo {
    text-align: center;
    background-color: #f2f2f2;
    margin-bottom: 4px;
}
.big-promo span {
    font-size: 18px;
    color: #e31837;
    margin-right: 20px;
}
.big-promo a {
    padding: 10px 0;
}
.search {
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    float: left;
    width: 85%
}
.mid-right {
    float: right;
    position: relative;
    bottom: 66px;
    width: 30%;
}
.search button {
    border: none;
    background: #fff;
    height: 40px;
    width: auto;
    padding: 11px;
    float: left;
}
.search button img {
    width: 18px;
    height: 18px;
}
.search input {
    border: none;
    width: 88%;
    height: 20px;
    padding: 10px 0;
}
.mini-cart {
    float: right;
    margin-top: 13px;
}
.mini-cart img {
    width: 20px;
    height: 18px;
    display: inline-block;
    margin-right: 5px
}
.cart-amt {
    position: relative;
    bottom: 3px;
}
.mobile-menu {
    display: none;
}
.mobile-utilites {
    display: none;
}


/*body*/
.hero-banner .hero-content h1, .hero-banner .hero-content p{
    color: #fff;
}
.hero-banner {
    position: relative;
}
.hero-banner .hero-content {
    position: absolute;
    top: 141px;
    left: 80px;
}
.hero-banner .hero-content h1 {
    margin-bottom: 7px;
}
.hero-banner .hero-content p {
    margin-top: 0;
    margin-bottom: 21px;
}

.new-section {
    max-width: 1120px;
    margin: 49px auto 0;
}
.new-section .new-copy {
    display: inline-block;
    position: relative;
}
.new-section h2 {
    margin: 0 0 21px 0;
}
.new-section .new-copy:first-of-type{
    margin-right: 19px;
}
.new-section .new-copy .new-text {
    position: absolute;
    top: 62px;
    left: 30px;
}
.new-section .new-copy .new-text h1 {
    margin: 0 0 9px 0;
    text-transform: uppercase;
    width: 62%;
}
.hero-banner-2 {
    position: relative;
}
.hero-banner-2 .hero-content {
    position: absolute;
    top: 137px;
    right: 122px;
}
.hero-banner-2 .hero-content h1, .hero-banner-2 .hero-content p {
    color: #fff;
}
.instagram {
    max-width: 1120px;
    margin: 47px auto 80px;
}
.instagram h2 {
    float:left;
    margin-bottom: 25px;
}
.instagram h2:before {
    content:url('images/instagram.png');
    padding-right: 14px;
    position: relative;
    top: 8px;
}
.instagram h4 {
    float: right;
    margin-bottom: 25px;
    position: relative;
    top: 18px;

}
.instagram .insta-tiles {
    clear: both;
}
.instagram .insta-tiles .insta-tile {
    margin-right: 20px;
}
.instagram .insta-tiles .insta-tile:last-of-type {
    margin-right: 0;
}
/*product tile*/
.top-selling {
    max-width: 1120px;
    margin: 0 auto 32px;
}
.product-name {
    color: #2f333a;
    font-size: 13px;
    line-height: 1.31px;
}
.product-price {
    color: #2f333a;
    font-size: 18px;
    display: block;
}

.product-tile img {
    border-bottom: 1px solid #d5d5d5;
}


/*footer*/
footer {
    background-color: #2f333a;
}
footer .main-footer {
    padding: 30px 80px;
}
footer .main-footer .col {
    display: inline-block;
}
footer a, footer h5, footer h3, footer p, footer span {
    color: #fff;
}
footer h5, footer h3 {
    margin: 0;
    text-transform: uppercase;
}
footer ul {
    list-style: none;
}
.main-footer .sign-col input {
    width: 300px;
    background-color: #d5d5d5;
    padding: 9px 16px;
    border-radius: 2px;
    border: 0;
    margin-top: 5px;
}
.main-footer .sign-col span {
    font-size: 12px;
    position: relative;
    bottom: 8px;
}
.main-footer .col ul{
    margin-top: 9px;
}
.main-footer .col ul li {
    margin: 7px 0;
}
.main-footer .col ul li a {
    font-size: 13px;
}
.col {
    width: 12%;
    vertical-align: top;
}
.sign-col, .social-col {
    width: 30%;
}
.main-footer a {
    text-decoration: none;
}

.main-footer .social-col ul li {
    display: inline-block;
    margin-right: 50px;
}
footer ul{
    padding-left: 0;
}
.social-col ul:nth-of-type(2) img {
    width: 130px;
    height: 38px;
}

.social-col .social-icon:nth-of-type(1) img {
    width: 10px;
    height: 20px;
}
.social-col .social-icon:nth-of-type(2) img {
    width: 20px;
    height: 20px;
}
.social-col .social-icon:nth-of-type(3) img {
    width: 20px;
    height: 17px;
}
.social-col .social-icon:nth-of-type(4) img {
    width: 20px;
    height: 15px;
}
.social-col .social-icon:nth-of-type(5) img {
    width: 20px;
    height: 20px;
}
.bottom-footer {
    background-color: #67696d;
    text-align: center;
}
.bottom-footer span {
    margin-right: 26px;
    font-size: 11px;
}
.bottom-footer a {
    font-size: 11px;
}
.bottom-footer a:first-of-type {
    margin-right: 26px;
}

/*media queries*/
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 15px;
    }
    header .mid-header .logo img {
        width: 186px;
        height: 55px;
    }
    .logo {
        margin-bottom: 20px;
    }
    nav {
        width: 30%;
        position: absolute;
        left: -30%;
        background: #fff;
        z-index: 1000;
        height: 100%;
        top: 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    nav.open {
        position: fixed;
        left: 0;
    }
    body.slide {
        position: relative;
        left: 30%;
    }
    .mobile-utilites {
        display: block;
        background: #67696d;
        padding: 20px 0 25px 0;
        position: relative;
    }
    .mobile-utilites a, .mobile-utilites h5 {
        color: #fff;
        display: block;
        padding-left: 20px;
    }
    .mobile-utilites img {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    nav ul li a {
        font-size: 14px;
        font-weight: bold;
    }
    nav ul {
        padding-left: 0;
    }
    nav ul li {
        padding: 14px 0 14px 20px;
        border-top: solid 1px #f2f2f2;
        width: 100%;
        box-sizing: border-box;
    }
    nav ul li:last-child {
        border-bottom: solid 1px #f2f2f2;
    }
    .mid-header {
        position: relative;
    }
    .mid-right {
        width: 100%;
        position: static;
        float: none;
    }
    .big-promo {
        clear: both;
    }
    .mobile-menu {
        display: block;
    }
    .mobile-menu.hide {
        display: none;
    }
    .mid-header .logo {
        margin: 0 auto 20px;
    }
    .search {
        float: none;
        margin: 0 auto 20px;
        border-radius: 8px;
    }
    .mini-cart {
        float: none;
        position: absolute;
        top: 0;
        right: 0;
    }

    .new-copy {
        width: 80%;
        margin: 0 auto;
    }
    .new-section .new-copy {
        display: block;
    }
    .new-section .new-copy:first-of-type {
        margin: 0 auto;
    }
    .sign-col.col {
        width: 100%;
        margin-bottom: 35px;
    }

    .col {
        width: 19%;
    }
    .main-footer .sign-col input {
        display: block;
        width: 100%;
    }
    .social-col {
        width: 41%;
    }
    .main-footer .social-col ul li {
        margin-right: 28px;
    }
    .hero-banner-2 .hero-content {
        top: 88px;
    }
    .instagram h4 {
        display: none;
    }
    .instagram h2 {
        width: 80%;
        margin: 0 auto 25px;
        float: none;
    }
    .insta-tiles {
        width: 80%;
        margin: 0 auto;
    }
     .insta-tile {
         width: 22%;

    }
    .new-section h2 {
        width: 80%;
        margin: 0 auto;
    }
    .top-selling {
        width: 80%;
    }
    .product-tile {
        width: 24%;
    }
    /*.insta-tile:first-child, .insta-tile:nth-child(2) {
        margin-bottom: 20px;
    }
    .insta-tile:first-child, .insta-tile:nth-child(3) {
        margin-left: 40px
    }*/
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    .mid-header {
        padding: 34px 20px 20px 20px;
    }
    header .mid-header .logo img {
        width: 130px;
        height: 38px;
        display: block;
        margin: 0 auto;
    }
    .mid-right {
        width: 100%;
    }
    .search {
        width: 100%;
    }
    .search input {
        width: 87%;
    }
    .control {
        display: none;
    }
    .new-section .new-copy .new-text {
        position: relative;
        top: 0;
        left: 0;
    }

    .new-section .new-copy .new-text button {
        width: 100%;
    }
    .new-copy {
        border-bottom: 1px solid #d5d5d5;
        padding-bottom: 20px;
    }
    .new-copy:not(:first-child) {
        padding-top: 30px;
    }
    .new-section .new-copy .new-text h1 {
        width: 100%;
        margin-top: 20px;
    }
    .product-tile {
        width: 49%;
    }
    .hero-banner-2 img, .hero-banner img {
        width: 100%;
    }
    .hero-banner-2 h1, .hero-banner h1 {
        font-size: 48px;
    }
    .hero-banner-2 .hero-content {
        width: 51%;
        right: 20px;
    }
    .insta-tile {
        width: 43%;
    }
    footer .main-footer {
        padding: 30px 30px;
    }
    .main-footer .sign-col input {
        width: 90%;
    }
    .col {
        width: 100%;
    }
    .social-col {
        width: 100%;
    }
    .bottom-footer .copyright {
        width: 100%;
        display: block;
    }
    .footer-links {
        display: none;
    }
    .col {
        padding: 25px 0;
        border-bottom: 1px solid #67696d;
    }
    .col:nth-child(2) {
        border-top: 1px solid #67696d;
    }
    .sign-col, .social-col {
        border-bottom: 0;
    }
    .expanded .footer-links {
        display: block;
    }
    nav {
        width: 70%;
        left: -70%;
    }
    body.slide {
        position: relative;
        left: 70%;
    }
    .upper-header .promo:not(:first-child) {
        display: none;
    }
    .upper-header .promo {
        border-right: none;
        padding-right: 0;
    }
}
